* {
  box-sizing: border-box;
}
.root {
  background-image: url(../images/Background.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  color: white;
  font-family: "Gloria Hallelujah", cursive;
}
